<section class="eventos">

 <section class="eventos-intro">

  <div class="intro-content">

    <h2>{{eventos.intro.title}}</h2>
    <p>{{eventos.intro.text}}</p>
    <span>{{eventos.intro.highlight}}</span>

  </div>

</section>

  <!-- GRID -->
  <div class="grid">

    {{#each eventos.items}}
    <div class="card">

      <div class="img-box">
        <img src="{{this.image}}" alt="{{this.title}}">
      </div>

      <div class="info">
        <h3>{{this.title}}</h3>
        <p>{{this.desc}}</p>

        <div class="meta">
          <span>{{this.date}}</span>
          <span>{{this.location}}</span>
        </div>
      </div>

    </div>
    {{/each}}

  </div>

  <!-- LINKS -->
  <div class="links">
    <h3>Explora más</h3>

    <div class="link-box">

      {{#each eventos.links}}
      <a href="{{this.url}}" class="btn" target="_blank">

        <div class="link-title">{{this.text}}</div>
        <div class="link-desc">{{this.desc}}</div>

      </a>
      {{/each}}

    </div>
  </div>

  <!-- VIDEO -->
  <div class="video-section">
    <h3>Conoce nuestras actividades</h3>
    <iframe src="{{eventos.video}}" frameborder="0" allowfullscreen></iframe>
  </div>

  <!-- HIGHLIGHT -->
  <section class="highlight">

    <img class="highlight-bg" src="{{eventos.extra.highlight.bg}}" alt="fondo">

    <div class="highlight-overlay"></div>

    <div class="highlight-content">

      <h2>{{eventos.extra.highlight.title}}</h2>
      <p>{{eventos.extra.highlight.text}}</p>

      <a href="{{eventos.extra.highlight.link}}" class="btn-highlight">
        {{eventos.extra.highlight.button}}
      </a>

    </div>

  </section>

  <!-- TESTIMONIOS -->
  <section class="testimonials">

    {{#each eventos.extra.testimonials}}
    <div class="testimonial">
      <p>{{this.text}}</p>
      <span>{{this.name}}</span>
    </div>
    {{/each}}

  </section>

</section> 