<<<<<<< HEAD
<section class="hero-page" style="background-image: linear-gradient(rgba(13, 74, 43, 0.7), rgba(13, 74, 43, 0.7)), url('{{heroEventos.image}}');">
  <div class="container hero-content">
    <h1>{{heroEventos.title}}</h1>
    <p>{{heroEventos.subtitle}}</p>
=======
<section class="hero-eventos">

  <img class="hero-bg" src="{{eventos.image}}" alt="Eventos">

  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1>{{eventos.title}}</h1>
    <p>{{eventos.subtitle}}</p>
>>>>>>> 03c1403cc22524c8f40e84e5b7890329ff725c8c
  </div>

</section>