<section class="hero-panel" id="inicio">
  <img src="{{heroImage}}" alt="Imagen principal de autos" class="hero-bg-img" />
    <div class="hero-overlay">
    <div class="hero-content">
      <h2>{{heroTitle}}</h2>
      <p>{{heroText}}</p>
      <a href="{{heroLink}}" class="btn-primary">{{heroCta}}</a>
    </div>
  </div>
</section>