<section class="nosotros">

  
  <div class="intro">

    <h2>{{nosotros.intro.title}}</h2>
    <p>{{nosotros.intro.text}}</p>
    <p>{{nosotros.intro.text2}}</p>

  </div>

  
  <div class="mision-vision">

    <div class="box">
      <h3>Misión</h3>
      <p>{{nosotros.misionVision.mision}}</p>
    </div>

    <div class="box">
      <h3>Visión</h3>
      <p>{{nosotros.misionVision.vision}}</p>
    </div>

  </div>

  
  <h2 class="title">Proyectos realizados</h2>

  <div class="carousel">

    {{#each nosotros.proyectos}}
    <div class="card">

      <img src="{{this.image}}" alt="proyecto">

      <div class="info">
        <h3>{{this.title}}</h3>
        <p>{{this.desc}}</p>
      </div>

    </div>
    {{/each}}

  </div>

</section>